{% extends 'base.html' %}
{% load static %}


{% block content %}


<!DOCTYPE html>
<html lang="en">

    <head>
        <meta charset="utf-8">
        <title>Serene Tours</title>
        <meta content="width=device-width, initial-scale=1.0" name="viewport">
        <meta content="" name="keywords">
        <meta content="" name="description">

        <!-- Google Web Fonts -->
       <link rel="preconnect" href="https://fonts.googleapis.com">
        <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
        <link href="https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&family=Open+Sans:ital,wdth,wght@0,75..100,300..800;1,75..100,300..800&display=swap" rel="stylesheet">

        <!-- Icon Font Stylesheet -->
        <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.15.4/css/all.css"/>
        <link href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.4.1/font/bootstrap-icons.css" rel="stylesheet">

        <!-- Libraries Stylesheet -->
        <link href="{% static 'lib/animate/animate.min.css' %}" rel="stylesheet">
        <link href="{% static 'lib/lightbox/css/lightbox.min.css' %}" rel="stylesheet">
        <link href="{% static 'lib/owlcarousel/assets/owl.carousel.min.css' %}" rel="stylesheet">


        <!-- Customized Bootstrap Stylesheet -->
        <link href="{% static 'css/bootstrap.min.css' %}" rel="stylesheet">

        <!-- Template Stylesheet -->
        <link href="{% static 'css/style.css' %}" rel="stylesheet">

    </head>

    <body>

        <!-- Spinner Start -->
        <div id="spinner" class="show bg-white position-fixed translate-middle w-100 vh-100 top-50 start-50 d-flex align-items-center justify-content-center">
            <div class="spinner-border text-primary" style="width: 3rem; height: 3rem;" role="status">
                <span class="sr-only">Loading...</span>
            </div>
        </div>
        <!-- Spinner End -->

        <!-- Navbar & Hero Start -->

        <!-- Navbar & Hero End -->

        <!-- Carousel Start -->
        <div class="header-carousel owl-carousel">
            <div class="header-carousel-item">
                <img src="{% static 'img/Sunset dhow cruise.jpg' %}" class="img-fluid w-100" alt="Image">
                <div class="carousel-caption">
                    <div class="container align-items-center py-4">
                        <div class="row g-5 align-items-center">
                            <div class="col-xl-7 fadeInLeft animated" data-animation="fadeInLeft" data-delay="1s" style="animation-delay: 1s;">
                                <div class="text-start">
                                    <h4 class="text-primary text-uppercase fw-bold mb-4">Welcome To Serene Tours</h4>
                                    <h1 class="display-4 text-uppercase text-white mb-4">Your one stop for a thrilling adventure!</h1>
                                    <p class="mb-4 fs-5">We offer comprehensive travel services designed to make your journey seamless and unforgettable. From reliable transport options and delicious dining experiences to comfortable accommodations and guided tours to breathtaking tourist sites, we take care of every detail. Whether you're traveling for leisure or adventure, our services are tailored to meet all your needs and ensure a stress-free experience. Let us handle everything so you can focus on creating lasting memories.
                                    </p>
                                    <div class="d-flex flex-shrink-0">
                                        <a class="btn btn-primary rounded-pill text-white py-3 px-5" href="#">Our Packages</a>
                                    </div>
                                </div>
                            </div>
                            <div class="col-xl-5 fadeInRight animated" data-animation="fadeInRight" data-delay="1s" style="animation-delay: 1s;">
                                <div class="ticket-form p-5">
                                    <h2 class="text-dark text-uppercase mb-4">book your ticket</h2>
                                    <form>
                                        <div class="row g-4">
                                            <div class="col-12">
                                                <input type="text" class="form-control border-0 py-2" id="name" placeholder="Your Name">
                                            </div>
                                            <div class="col-12 col-xl-6">
                                                <input type="email" class="form-control border-0 py-2" id="email" placeholder="Your Email">
                                            </div>
                                            <div class="col-12 col-xl-6">
                                                <input type="phone" class="form-control border-0 py-2" id="phone" placeholder="Phone">
                                            </div>
                                            <div class="col-12">
                                                <select class="form-select border-0 py-2" aria-label="Default select example">
                                                    <option selected>Select Packages</option>
                                                    <option value="1">Family Packages</option>
                                                    <option value="2">Basic Packages</option>
                                                    <option value="3">Premium Packages</option>
                                                </select>
                                            </div>
                                            <div class="col-12">
                                                <input class="form-control border-0 py-2" type="date">
                                            </div>
                                            <div class="col-12">
                                                <input type="number" class="form-control border-0 py-2" id="number" placeholder="Guest">
                                            </div>
                                            <div class="col-12">

                                            </div>
                                        </div>
                                    </form>
                                </div>
                            </div> 
                        </div>
                    </div>
                </div>
            </div>
            <div class="header-carousel-item">
                <img src="{% static 'img/Alba Hotel Meru.jpg' %}" class="img-fluid w-100" alt="Image">
                <div class="carousel-caption">
                    <div class="container py-4">
                        <div class="row g-5 align-items-center">
                            <div class="col-xl-7 fadeInLeft animated" data-animation="fadeInLeft" data-delay="1s" style="animation-delay: 1s;">
                                <div class="text-start">
                                    <h4 class="text-primary text-uppercase fw-bold mb-4">Welcome To Serene Tours</h4>
                                    <h1 class="display-4 text-uppercase text-white mb-4">Your one stop for a thrilling adventure!</h1>
                                    <p class="mb-4 fs-5">We offer comprehensive travel services designed to make your journey seamless and unforgettable. From reliable transport options and delicious dining experiences to comfortable accommodations and guided tours to breathtaking tourist sites, we take care of every detail. Whether you're traveling for leisure or adventure, our services are tailored to meet all your needs and ensure a stress-free experience. Let us handle everything so you can focus on creating lasting memories.
                                    </p>
                                    <div class="d-flex flex-shrink-0">
                                        <a class="btn btn-primary rounded-pill text-white py-3 px-5" href="#">Our Packages</a>
                                    </div>
                                </div>
                            </div>
                            <div class="col-xl-5 fadeInRight animated" data-animation="fadeInRight" data-delay="1s" style="animation-delay: 1s;">
                                <div class="ticket-form p-5">
                                    <h2 class="text-dark text-uppercase mb-4">book your ticket</h2>
                                    <form>
                                        <div class="row g-4">
                                            <div class="col-12">
                                                <input type="text" class="form-control border-0 py-2" id="name" placeholder="Your Name">
                                            </div>
                                            <div class="col-12 col-xl-6">
                                                <input type="email" class="form-control border-0 py-2" id="email" placeholder="Your Email">
                                            </div>
                                            <div class="col-12 col-xl-6">
                                                <input type="phone" class="form-control border-0 py-2" id="phone" placeholder="Phone">
                                            </div>
                                            <div class="col-12">
                                                <select class="form-select border-0 py-2" aria-label="Default select example">
                                                    <option selected>Select Packages</option>
                                                    <option value="1">Family Packages</option>
                                                    <option value="2">Basic Packages</option>
                                                    <option value="3">Premium Packages</option>
                                                </select>
                                            </div>
                                            <div class="col-12">
                                                <input class="form-control border-0 py-2" type="date">
                                            </div>
                                            <div class="col-12">
                                                <input type="number" class="form-control border-0 py-2" id="number" placeholder="Guest">
                                            </div>
                                           
                                        </div>
                                    </form>
                                </div>
                            </div>  
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <!-- Carousel End -->


        <!-- Feature Start -->


        <!-- About Start -->
        <div class="container-fluid about py-5">
            <div class="container py-5">
                <div class="row g-5">
                    <div class="col-xl-6 wow fadeInUp" data-wow-delay="0.2s">
                        <div>
                            <h4 class="text-primary">About SereneTours</h4>
                            <h1 class="display-5 mb-4">A premier tour and travel website devoted to ensuring you have the best holidays</h1>
                            <p class="mb-5">We offer personalized travel packages, affordable bookings, and seamless itineraries for local destinations. Whether planning a relaxing getaway, adventurous trip, or cultural exploration, Serene Tours ensures a hassle-free experience. With user-friendly navigation and expert travel insights, it’s your trusted companion for unforgettable journeys. Explore, book, and travel effortlessly!
                            </p>
                            <div class="row g-4">
                                <div class="col-md-6">
                                    <div class="d-flex">
                                        <div class="me-3"><i class="fas fa-glass-cheers fa-3x text-primary"></i></div>
                                        <div>
                                            <h4>Food & Drinks</h4>
                                            <p>Visit hotels offering the best meals, ensuring a delightful dining experience during your trip.</p>
                                        </div>
                                    </div>
                                </div>
                                <div class="col-md-6">
                                    <div class="d-flex">
                                        <div class="me-3"><i class="fas fa-dot-circle fa-3x text-primary"></i></div>
                                        <div>
                                            <h4>Many Attractions</h4>
                                            <p>Our destinations offer a variety of stunning scenery, cultural sites to explore, and hidden gems waiting to be discovered.</p>
                                        </div>
                                    </div>
                                </div>
                                <div class="col-md-6">
                                    <div class="d-flex">
                                        <div class="me-3"><i class="fas fa-hand-holding-usd fa-3x text-primary"></i></div>
                                        <div>
                                            <h4>Affordable Price</h4>
                                            <p>You don’t have to spend a fortune to travel with us—there are options for every budget.</p>
                                        </div>
                                    </div>
                                </div>
                                <div class="col-md-6">
                                    <div class="d-flex">
                                        <div class="me-3"><i class="fas fa-spa fa-3x text-primary"></i></div>
                                        <div>
                                            <h4>Great Discounts</h4>
                                            <p>The higher the number of travellers the higher the discount! No one should be left behind.</p>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col-xl-6 wow fadeInUp" data-wow-delay="0.4s">
                        <div class="position-relative rounded">
                            <div class="rounded" style="margin-top: 40px;">
                                <div class="row g-0">
                                    <div class="col-lg-12">
                                        <div class="rounded mb-4">
                                            <img src="{% static 'img/Hot air balloon during safari.jpg' %}" class="img-fluid rounded w-100" alt="">
                                        </div>
                                        <div class="row gx-4 gy-0">
                                            <div class="col-6">
                                                <div class="counter-item bg-primary rounded text-center p-4 h-100">
                                                    <div class="counter-item-icon mx-auto mb-3">
                                                        <i class="fas fa-thumbs-up fa-3x text-white"></i>
                                                    </div>
                                                    <div class="counter-counting mb-3">
                                                        <span class="text-white fs-2 fw-bold" data-toggle="counter-up">100</span>
                                                        <span class="h1 fw-bold text-white">K +</span>
                                                    </div>
                                                    <h5 class="text-white mb-0">Happy Tourists</h5>
                                                </div>
                                            </div>
                                            <div class="col-6">
                                                <div class="counter-item bg-dark rounded text-center p-4 h-100">
                                                    <div class="counter-item-icon mx-auto mb-3">
                                                        <i class="fas fa-certificate fa-3x text-white"></i>
                                                    </div>
                                                    <div class="counter-counting mb-3">
                                                        <span class="text-white fs-2 fw-bold" data-toggle="counter-up">25</span>
                                                        <span class="h1 fw-bold text-white"> +</span>
                                                    </div>
                                                    <h5 class="text-white mb-0">Awards Won</h5>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="rounded bg-primary p-4 position-absolute d-flex justify-content-center" style="width: 90%; height: 80px; top: -40px; left: 50%; transform: translateX(-50%);">
                                <h3 class="mb-0 text-white">10 Years Of Making Memories</h3>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <!-- About End -->


        <!-- Service Start -->



        <!-- Ticket Packages Start -->

        <!-- Ticket Packages End -->


        <!-- Attractions Start -->
        <!-- Attractions End -->

        <!-- Gallery Start -->

        <!-- Gallery End -->


        <!-- Blog Start -->

        <!-- Blog End -->


        <!-- Team Start -->
        <div class="container-fluid team pb-5">
            <div class="container pb-5">
                <div class="text-center mx-auto pb-5 wow fadeInUp" data-wow-delay="0.2s" style="max-width: 800px;">
                    <h4 class="text-primary">Meet Our Team</h4>
                    <h1 class="display-5 mb-4">Our team is dedicated to offering quality customer service</h1>
                    <p class="mb-0">
                    </p>
                </div>
                <div class="row g-4 justify-content-center">
                    <div class="col-md-6 col-lg-6 col-xl-4 wow fadeInUp" data-wow-delay="0.2s">
                        <div class="team-item p-4">
                            <div class="team-content">
                                <div class="d-flex justify-content-between border-bottom pb-4">
                                    <div class="text-start">
                                        <h4 class="mb-0">Janice Kataka</h4>
                                        <p class="mb-0">Head of Operations Coastal Region</p>
                                    </div>
                                    <div>
                                        <img src="{% static 'img/female team.jpg' %}" class="img-fluid rounded" style="width: 100px; height: 100px;" alt="">
                                    </div>
                                </div>
                                <div class="team-icon rounded-pill my-4 p-3">
                                    <a class="btn btn-primary btn-sm-square rounded-circle me-3" href=""><i class="fab fa-facebook-f"></i></a>
                                    <a class="btn btn-primary btn-sm-square rounded-circle me-3" href=""><i class="fab fa-twitter"></i></a>
                                    <a class="btn btn-primary btn-sm-square rounded-circle me-3" href=""><i class="fab fa-linkedin-in"></i></a>
                                    <a class="btn btn-primary btn-sm-square rounded-circle me-0" href=""><i class="fab fa-instagram"></i></a>
                                </div>
                                <p class="text-center mb-0">
                                </p>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-6 col-lg-6 col-xl-4 wow fadeInUp" data-wow-delay="0.4s">
                        <div class="team-item p-4">
                            <div class="team-content">
                                <div class="d-flex justify-content-between border-bottom pb-4">
                                    <div class="text-start">
                                        <h4 class="mb-0">William Kabugi</h4>
                                        <p class="mb-0">Head of Operations Central Region</p>
                                    </div>
                                    <div>
                                        <img src="{% static 'img/maleteam.jpg' %}" class="img-fluid rounded" style="width: 100px; height: 100px;" alt="">
                                    </div>
                                </div>
                                <div class="team-icon rounded-pill my-4 p-3">
                                    <a class="btn btn-primary btn-sm-square rounded-circle me-3" href=""><i class="fab fa-facebook-f"></i></a>
                                    <a class="btn btn-primary btn-sm-square rounded-circle me-3" href=""><i class="fab fa-twitter"></i></a>
                                    <a class="btn btn-primary btn-sm-square rounded-circle me-3" href=""><i class="fab fa-linkedin-in"></i></a>
                                    <a class="btn btn-primary btn-sm-square rounded-circle me-0" href=""><i class="fab fa-instagram"></i></a>
                                </div>
                                <p class="text-center mb-0">
                                </p>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-6 col-lg-6 col-xl-4 wow fadeInUp" data-wow-delay="0.6s">
                        <div class="team-item p-4">
                            <div class="team-content">
                                <div class="d-flex justify-content-between border-bottom pb-4">
                                    <div class="text-start">
                                        <h4 class="mb-0">Soila Doris</h4>
                                        <p class="mb-0">Head of Operations Narok</p>
                                    </div>
                                    <div>
                                        <img src="{% static 'img/Milwaukee Headshots _ Kalida Williams Photography.jpg' %}" class="img-fluid rounded" style="width: 100px; height: 100px;" alt="">
                                    </div>
                                </div>
                                <div class="team-icon rounded-pill my-4 p-3">
                                    <a class="btn btn-primary btn-sm-square rounded-circle me-3" href=""><i class="fab fa-facebook-f"></i></a>
                                    <a class="btn btn-primary btn-sm-square rounded-circle me-3" href=""><i class="fab fa-twitter"></i></a>
                                    <a class="btn btn-primary btn-sm-square rounded-circle me-3" href=""><i class="fab fa-linkedin-in"></i></a>
                                    <a class="btn btn-primary btn-sm-square rounded-circle me-0" href=""><i class="fab fa-instagram"></i></a>
                                </div>
                                <p class="text-center mb-0">
                                </p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <!-- Team End -->


        <!-- Testimonial Start -->
        <div class="container-fluid testimonial py-5" style="margin-top: 100px;">
            <div class="container py-5">
                <div class="text-center mx-auto pb-5 wow fadeInUp" data-wow-delay="0.2s" style="max-width: 800px;">
                    <h4 class="text-primary">Testimonials</h4>
                    <h1 class="display-5 text-white mb-4">Our Clients Reviews</h1>
                    <p class="text-white mb-0">Don't just take our word for it—hear from our happy customers why our services are top-notch!
                    </p>
                </div>
                <div class="owl-carousel testimonial-carousel wow fadeInUp" data-wow-delay="1.0s">
                    <div class="testimonial-item p-4">
                        <p class="text-white fs-4 mb-4">"Our trip to the Maasai Mara with Serene Tours was absolutely magical! The guides were knowledgeable, the itinerary was well-planned, and the entire experience exceeded our expectations from start to finish."
                        </p>
                        <div class="testimonial-inner">
                            <div class="testimonial-img">
                                <img src="{% static 'img/lady.jpg' %}" class="img-fluid" alt="Image">
                                <div class="testimonial-quote btn-lg-square rounded-circle"><i class="fa fa-quote-right fa-2x"></i>
                                </div>
                            </div>
                            <div class="ms-4">
                                <h4>Zawadi Mackenzie</h4>
                                <p class="text-start text-white">Yoga Instructor</p>
                                <div class="d-flex text-primary">
                                    <i class="fas fa-star"></i>
                                    <i class="fas fa-star"></i>
                                    <i class="fas fa-star"></i>
                                    <i class="fas fa-star"></i>
                                    <i class="fas fa-star text-white"></i>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="testimonial-item p-4">
                        <p class="text-white fs-4 mb-4">
                            "As a busy lawyer, I desperately needed a break, and Serene Tours made my getaway to Nanyuki truly stress-free. The serene environment, seamless planning, and attention to detail gave me the perfect opportunity to recharge. I returned to work feeling refreshed and ready to tackle my cases with a clear mind."
                        </p>
                        <div class="testimonial-inner">
                            <div class="testimonial-img">
                                <img src="{% static 'img/male.jpg' %}" class="img-fluid" alt="Image">
                                <div class="testimonial-quote btn-lg-square rounded-circle"><i class="fa fa-quote-right fa-2x"></i>
                                </div>
                            </div>
                            <div class="ms-4">
                                <h4>Timothy Barasa</h4>
                                <p class="text-start text-white">Lawyer</p>
                                <div class="d-flex text-primary">
                                    <i class="fas fa-star"></i>
                                    <i class="fas fa-star"></i>
                                    <i class="fas fa-star"></i>
                                    <i class="fas fa-star"></i>
                                    <i class="fas fa-star text-white"></i>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="testimonial-item p-4">
                        <p class="text-white fs-4 mb-4">"I always choose Serene Tours for my holiday trips to Malindi because they make every journey to the coast unforgettable. Their exceptional service, thoughtful itineraries, and warm hospitality keep me coming back year after year. Being by the ocean is my happy place, and Serene Tours ensures I enjoy every moment of it!"
                        </p>
                        <div class="testimonial-inner">
                            <div class="testimonial-img">
                                <img src="{% static 'img/female.jpg' %}" class="img-fluid" alt="Image">
                                <div class="testimonial-quote btn-lg-square rounded-circle"><i class="fa fa-quote-right fa-2x"></i>
                                </div>
                            </div>
                            <div class="ms-4">
                                <h4>Sarah Lexan</h4>
                                <p class="text-start text-white">Accountant</p>
                                <div class="d-flex text-primary">
                                    <i class="fas fa-star"></i>
                                    <i class="fas fa-star"></i>
                                    <i class="fas fa-star"></i>
                                    <i class="fas fa-star"></i>
                                    <i class="fas fa-star text-white"></i>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <!-- Testimonial End -->

        <!-- Footer Start -->

        <!-- Footer End -->
        
        <!-- Copyright Start -->

        <!-- Copyright End -->


        <!-- Back to Top -->
        <a href="#" class="btn btn-primary btn-lg-square rounded-circle back-to-top"><i class="fa fa-arrow-up"></i></a>   

        
    <!-- JavaScript Libraries -->
   <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.4/jquery.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0/dist/js/bootstrap.bundle.min.js"></script>
    <script src="../../static/lib/wow/wow.min.js"></script>
    <script src="../../static/lib/easing/easing.min.js"></script>
    <script src="../../static/lib/waypoints/waypoints.min.js"></script>
    <script src="../../static/lib/counterup/counterup.min.js"></script>
    <script src="../../static/lib/lightbox/js/lightbox.min.js"></script>
    <script src="../../static/lib/owlcarousel/owl.carousel.min.js"></script>

 <!-- Template Javascript -->
    <script src="../../static/js/main.js"></script>
    </body>

</html>

{% endblock %}